
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/176360999_179776350661122_5703372493906121780_n-removebg-preview.png" class="img-fluid" id="fotoperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre"> Ferreira Francisco Agustin</p>
            <p id="profesion">Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aut, alias doloribus harum adipisci voluptate impedit eligendi, incidunt vero officiis architecto perferendis! Veniam officiis pariatur autem, libero sapiente suscipit excepturi.</p>
            </span>
        </div>

    </div>
