<div>
    <a href="http://"><img src="../../../assets/instagram-new-2016-logo-4773FE3F99-seeklogo.com.png" alt="instagram" srcset=""></a>
    <a href="http://"><img src="../../../assets/whatsapp-logo-2-1.png" alt="whatsapp" srcset=""></a>
 
    <a href="http://"><img src="../../../assets/tik-tok-logo-E3F1A1B69E-seeklogo.com.png" alt="tiktok" srcset=""></a>
    <a href="http://"><img src="../../../assets/png.monster-570.webp" alt="linkedin" srcset=""></a>
    <a href="http://"><img src="../../../assets/25231.png" alt="github" srcset=""></a>
    